*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    border: 5px solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
h1{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#result{
    text-align: center;
}
#result img {
    width: 40%;
}
#start-text{
    font-size: 26px;
    padding: 20px;
}
#group-btn{
    display: flex;
    width: 100%;
}

#group-btn > button > img{
    width: 100%;
}
button{
    border: 3px solid black;
    margin: 5px;
}
footer{
    text-align: center;
    padding: 10px;
}